#output, #module, #modMessage{
    font-size: 20px;
    height: 100%;
}

.border{
    border: 2px solid white;    
    border-radius: 5px;
}

#output{
    text-align: center;
    height: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow: auto;
}

button{
    font-size: 24px !important;
    width: 100%;
    height: 100%;
    max-height: none;
    padding: 0 !important;
}

.input-group{
    width: 100%;
}

.column{
    width: 25%;
}

.row{
    height: 16,66%;
}

th, td{
    padding: 5px;
}

table{
    position: absolute;
    width: 100%;
    height: 100%;
}

center a[href="http://somee.com"] {
    display: none;
}

div[style="opacity: 0.9; z-index: 2147483647; position: fixed; left: 0px; bottom: 0px; height: 65px; right: 0px; display: block; width: 100%; background-color: #202020; margin: 0px; padding: 0px;"] {
    display: none !important;
}

div[style="position: fixed; z-index: 2147483647; left: 0px; bottom: 0px; height: 65px; right: 0px; display: block; width: 100%; background-color: transparent; margin: 0px; padding: 0px;"] {
    display: none !important;
}

.gradient-background {
    background: linear-gradient(270deg, #428bca, #5bc0de);
    background-size: 400% 400%;
    -webkit-animation: GradientBackground 10s ease infinite;
    -moz-animation: GradientBackground 10s ease infinite;
    -o-animation: GradientBackground 10s ease infinite;
    animation: GradientBackground 10s ease infinite;
}

@-webkit-keyframes GradientBackground {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@-moz-keyframes GradientBackground {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@-o-keyframes GradientBackground {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes GradientBackground {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}