#calculator {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

#btns-table {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 2vh;
    margin-top: 4vh;
    margin-bottom: 0;
    justify-content: center;
    overflow: hidden;
}

.line {
    width: 96%;
    height: 14vh;
    margin: 2vh 2vw 0.1vh 2vw;
    font-size: 4em;
    text-align: right;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow: auto;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#work-panel {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    text-align: center;
    color: white;
    font-size: 5em;
    opacity: 0.5;
}

.arrow:hover {
    cursor: pointer;
}

#arrow-prev:before {
    margin-left: 2vw;
    content: '\2039';
}

#arrow-next:before {
    content: '\203A';
    margin-right: 2vw;
}

ul {
    list-style-type: none;
}

.slick-dots {
    display: flex;
    justify-content: center;
    padding: 0;
}

.slick-dots li button {
    display: none;
}

.slick-dots li {
    opacity: 0.5;
    margin-top: -0.5vh;
    text-align: center;
    color: white;
    font-size: 3em;
}

.slick-dots li:before {
    content: '\0025CB';
}

.slick-dots .slick-active:before {
    content: '\0025CF';
}

.carousel {
    display: inline-block;
    width: 100%;
}

.slick-track {
    display: flex;
}

.slick-slide {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.slick-slide:focus {
    outline: 0;
}

.btn {
    font-size: 3em;
    width: 23%;
    height: 10vh;
    padding: 0;
    margin: 1%;
    font-weight: bold;
}

.btn:focus {
    outline: 0;
}

.text-btn {
    font-size: 1.5em;
    line-height: 3.5vh;
}

.glyphicon {
    margin-top: 5%;
}

.not-displayed {
    display: none;
}

@media only screen and (min-device-width: 500px) {
    #calculator {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
}