.calculator {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.lines-container {
    height: 30vh;
    margin: 2.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line {
    height: 100%;
    text-align: right;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow: hidden;
    resize: none;
}

.query-line {
    border-bottom: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.result-line {
    border-top: none;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

ul {
    list-style-type: none;
}

.pages-container {
    width: 100vw;
    /* display: inline-block; */
}

.pages-container:focus,
.page:focus,
.btn:focus {
    outline: 0;
}
.page {
    width: 100vw;
    padding: 0 2vh 2vh 2vh;
    display: flex;
    flex-wrap: wrap;
}

.btn {
    font-size: 6vh;
    width: 23%;
    height: 11.65vh;
    margin: 0.5vh 1%;
    font-weight: bold;
    overflow: hidden;
}

.list-group {
    width: 100%;
    margin: 0.5vh;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.list-group-item span {
    font-size: 3vh;
    font-weight: bold;
    width: 75%;
}

#changeTheme {
    font-size: 3vh;
    height: auto;
    margin-left: 3vh;
}

.switch {
    width: 10vh;
    margin: 2vh 0 2vh 3vh;
}

.switch>input[type="checkbox"] {
    display: none;
}

.switch>label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 70%;
}

.switch>label::before {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 2vh;
    content: '';
    height: 4vh;
    margin-top: -2vh;
    position: absolute;
    opacity: 0.3;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    width: 8vh;
}

.switch>label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 4.5vh;
    left: -1vh;
    margin-top: -1.25vh;
    position: absolute;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    top: -1vh;
    width: 4.5vh;
}

.switch>input[type="checkbox"]:checked+label::before {
    background: inherit;
    opacity: 0.5;
}

.switch>input[type="checkbox"]:checked+label::after {
    background: inherit;
    left: 5vh;
}

@media only screen and (min-device-width: 800px) {
    #calculator {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
}