.calculator-blue {
    background: #08102F;
}
.calculator-blue .btn-operator{
    color: #FFFFFF;
    background-image: linear-gradient(to bottom,#5bc0de 0,#2aabd2 100%);
    border-color: #46B8DA;
}
.calculator-blue .btn-digit{
    color: #333333;
    background-image: linear-gradient(to bottom,#FFFFFF 0,#E0E0E0 100%);
    border-color: #CCCCCC;
}
.calculator-blue .btn-special{
    color: #FFFFFF;
    background-image: linear-gradient(to bottom,#337AB7 0,#265A88 100%);
    border-color: #245580;
}
.calculator-blue .label-default{
    color: #FFFFFF;
    background: #337AB7;
    border-color: #245580;
}

.calculator-gray {
    background: #242629;
}
.calculator-gray .btn-operator{
	color: white;
	background-image: linear-gradient(to bottom,#AEB3B7 0,#595F65 100%);
	border-color: #3C4044;
}
.calculator-gray .btn-digit{
	color: #000000;
	background-image: linear-gradient(to bottom,#E1E6EA 0,#B2BFCB 100%);
	border-color: #869AAC;
}
.calculator-gray .btn-special{
	color: white;
	background-image: linear-gradient(to bottom,#5F666D 0,#373B3F 100%);
	border-color: #242629; 
}
.calculator-gray .label-default{
    color: white;
    background: #5F666D;
    border-color: #242629;
}

.calculator-russia {
    background: #000000;
}
.calculator-russia .btn-operator{
    color: #FFFFFF;
    background-image: linear-gradient(to bottom,#337ab7 0,#265A88 100%);
    border-color: #245580;
}
.calculator-russia .btn-digit{
    color: #333333;
    background-image: linear-gradient(to bottom,#FFFFFF 0,#E0E0E0 100%);
    border-color: #CCCCCC;
}
.calculator-russia .btn-special{
    color: #FFFFFF;
    background-image: linear-gradient(to bottom,#D9534F 0,#C12E2A 100%);
    border-color: #D43F3A;
}
.calculator-russia .label-default {
    color: #FFFFFF;
    background: #D9534F;
    border-color: #D43F3A;
}