body {
    background: #08102F;
}

.btn-operator{
	color: white;
	background: #0273C6;
	border-color: #0273C6;
}

.btn-digit{
	color: #08102F;
	background: #F7FFFB;
	border-color: #F7FFFB ;
}

.btn-special{
	color: white;
    background: #0048A4;
	border-color: #0048A4; 
}

.output{
    text-align: right;
    font-size: 18px;
    word-wrap: break-word;
    color: white;
    height: 100%;
}