table {
    background: #08102F;
}

.btn-operator{
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.btn-digit{
	color: #08102F;
	background: #F7FFFB;
	border-color: #F7FFFB ;
}

.btn-special{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}