table {
    background: #08102F;
}

.btn-operator{
    color: #fff;
    background: linear-gradient(to bottom,#5bc0de 0,#2aabd2 100%);
    border-color: #46b8da;
}

.btn-digit{
    color: #333;
    background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
    border-color: #ccc;
}

.btn-special{
    color: #fff;
    background: linear-gradient(to bottom,#337ab7 0,#265a88 100%);
    border-color: #245580;
}