table {
    background: #242629;
}

.btn-operator{
	color: white;
	background-image: linear-gradient(to bottom,#aeb3b7 0,#595F65 100%);
	border-color: #3c4044;
}

.btn-digit{
	color: #000;
	background-image: linear-gradient(to bottom,#e1e6ea 0,#B2BFCB 100%);
	border-color: #869aac;
}

.btn-special{
	color: white;
	background-image: linear-gradient(to bottom,#5f666d 0,#373B3F 100%);
	border-color: #242629; 
}