table {
    background: #242629;
}

.btn-operator{
	color: white;
	background: #595F65;
	border-color: #595F65;
}

.btn-digit{
	color: white;
	background: #B2BFCB;
	border-color: #B2BFCB;
}

.btn-special{
	color: white;
    background: #373B3F;
	border-color: #373B3F; 
}