table {
    background: #fff;
}

.btn-operator{
	color: #5ca36a;
    background-color: #fff;
    border-color: #5ca36a;
}

.btn-digit{
    color: #9dc8a6;
    background-color: #fff;
    border-color: #9dc8a6;
}

.btn-special{
	color: #edabda;
    background-color: #fff;
	border-color: #edabda;
}