body {
    background: #fff;
}

.btn-operator{
    color: #468847;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
}

.btn-digit{
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-special{
    color: #c7254e;
    background: #f9f2f4;
	border-color: #a94442;
}

.output{
    text-align: right;
    font-size: 18px;
    word-wrap: break-word;
    color: white;
    height: 100%;
}