table {
    background: #000;
}

.btn-operator{
	color: white;
	background: #9CA653;
	border-color: #9CA653;
}

.btn-digit{
	color: #08102F;
	background: #CFD982;
	border-color: #CFD982 ;
}

.btn-special{
	color: white;
    background: #F28D52;
	border-color: #F28D52; 
}