table {
    background: #000;
}

.btn-operator{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn-digit{
	color: #000;
	background: #fff;
	border-color: #fff;
}

.btn-special{
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.output{
    text-align: right;
    font-size: 18px;
    word-wrap: break-word;
    color: white;
    height: 100%;
}