table {
    background: #000;
}

.btn-operator{
    color: #fff;
    background-image: linear-gradient(to bottom,#337ab7 0,#265a88 100%);
    border-color: #245580;
}

.btn-digit{
    color: #333;
    background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
    border-color: #ccc;
}

.btn-special{
    color: #fff;
    background-image: linear-gradient(to bottom,#d9534f 0,#c12e2a 100%);
    border-color: #d43f3a;
}