{
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 6,
        "ecmaFeatures": {
            "impliedStrict": true
        }
    },
    "extends": "eslint:recommended",
    "env": {
        "jquery": true,
        "browser": true,
        "node": true,
        "mocha": true
    },
    "rules": {
        "quotes": [
            "error",
            "double"
        ],
        "semi": [
            "error",
            "always"
        ],
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1
            }
        ],
        "no-multiple-empty-lines": [
            "error",
            {
                "max": 1
            }
        ],
        "linebreak-style": [
            "error",
            "windows"
        ],
        "no-console": [
            "warn",
            {
                "allow": [
                    "info",
                    "error"
                ]
            }
        ]
    },
    "globals": {
        "Backbone": true,
        "Cookies": true
    }
}